
:root {
  --white: rgba(255, 255, 255);
  --white-1: rgba(255, 255, 255, .75);
  --white-2: rgba(255, 255, 255, .9);
  --black: rgba(0, 0, 0);
  --black-1: rgba(0, 0, 0, .75);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #b12fee, #186aad);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  justify-content: space-around;
}

/* Calculator Styles */

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid var(--white);
  outline: none;
  background-color: var(--white-1);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: var(--white-2);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: var(--black-1);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: var(--white-1);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

/* History Styles */
.history-container {
  margin-top: 2rem;
  background-color: var(--black-1);
  height: 37rem;
  overflow-y: auto;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
  color: var(--white-1);
  width: 30%;
}

.history-item {
  font-size: 2.5em;
  border-bottom: 1px solid;
}

svg {
  width: 1.5rem;
  height: 1.9rem;
  margin-right: 0.5em;
  cursor: pointer;
}